[class*='card']{
    border: none;
    background-color: white;
    
}

.progress{
    margin: 10px auto;
}

input[name="file"]{
    margin-bottom: 5px;
}
input[name="message_file"]{
    margin-top: 5px;
}



.dotted{
    border: 1px dotted black;
    border-radius: 3%;
}